### **`Total forest cover of india-2013`**

In [1]:
import pandas as pd

In [2]:
import numpy as np

Let's import the total forest cover of india-2013

In [19]:
url='https://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/Total%20forest%20area%202013.csv'
data_4=pd.read_csv(url)

First look of data

In [20]:
data_4

                 Forest Cover  Area (sq. Km)  Percent Of Geographical Area
0        a) Very Dense Forest          83471                          2.54
1  b) Moderately Dense Forest         320736                          9.76
2              c) Open Forest         287820                          8.75
3         Total Forest Cover*         692027                         21.05
4                       Scrub          42176                          1.28
5                  Non-forest        2553060                         77.67

As you can see, values have to be changed to int or float if necessary and row values of 'Forest Cover' have to be changed

Let's rename the columns

In [21]:
data_4.columns=['Classification','Area(sq km)','% of Geographical Area']

In [22]:
data_4

               Classification  Area(sq km)  % of Geographical Area
0        a) Very Dense Forest        83471                    2.54
1  b) Moderately Dense Forest       320736                    9.76
2              c) Open Forest       287820                    8.75
3         Total Forest Cover*       692027                   21.05
4                       Scrub        42176                    1.28
5                  Non-forest      2553060                   77.67

Let's check the data type of each column

In [24]:
data_4.dtypes

Classification             object
Area(sq km)                 int64
% of Geographical Area    float64
dtype: object

Let's change the values of row

In [25]:
data_4.at[0,'Classification']='Very Dense Forest'

In [26]:
data_4.at[1,'Classification']='Moderately Dense Forest'
data_4.at[2,'Classification']='Open Forest'
data_4.at[3,'Classification']='Total Forest Cover'

In [27]:
data_4.head()

            Classification  Area(sq km)  % of Geographical Area
0        Very Dense Forest        83471                    2.54
1  Moderately Dense Forest       320736                    9.76
2              Open Forest       287820                    8.75
3       Total Forest Cover       692027                   21.05
4                    Scrub        42176                    1.28

Converting the Dataframe back to the csv file

In [28]:
data_4.to_csv('total forest cover of india-2013')

 total forest cover of india-2019 data after performing data clean operation

In [29]:
data_4.style.set_caption("**Total forest cover of india-2013**")