### **`Total forest cover of india-2019`**

In [1]:
import pandas as pd

In [2]:
import numpy as np

Let's import the total forest cover of india-2019

In [3]:
url='https://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/2019_Forest_cover_of_India.csv'
data_3=pd.read_csv(url)

First look of data

In [4]:
data_3

                Unnamed: 0  Class Area (sq km)  Percentage of Geographical Area
0        Very Dense Forest    NaN       99,278                             3.02
1  Moderately Dense Forest    NaN     3,08,472                             9.39
2              Open Forest    NaN     3,04,499                             9.26
3       Total Forest Cover    NaN     7,12,249                            21.67
4                    Scrub    NaN       46,297                             1.41
5               Non-Forest    NaN    25,28,923                            76.92
6  Total Geographical Area    NaN    32,87,469                           100.00

As you can see, there is a unnamed column, missing column and values are in string

Let's start by dropping the column 'class' which is filled with NaN

In [7]:
data_3=data_3.drop(columns='Class')

In [8]:
data_3.head()

                Unnamed: 0 Area (sq km)  Percentage of Geographical Area
0        Very Dense Forest       99,278                             3.02
1  Moderately Dense Forest     3,08,472                             9.39
2              Open Forest     3,04,499                             9.26
3       Total Forest Cover     7,12,249                            21.67
4                    Scrub       46,297                             1.41

Let's rename the columns

In [9]:
data_3.columns=['Classification','Area(sq km)','% of Geographical Area']

In [10]:
data_3

            Classification Area(sq km)  % of Geographical Area
0        Very Dense Forest      99,278                    3.02
1  Moderately Dense Forest    3,08,472                    9.39
2              Open Forest    3,04,499                    9.26
3       Total Forest Cover    7,12,249                   21.67
4                    Scrub      46,297                    1.41
5               Non-Forest   25,28,923                   76.92
6  Total Geographical Area   32,87,469                  100.00

Let's check the data type of each column

In [11]:
data_3.dtypes

Classification             object
Area(sq km)                object
% of Geographical Area    float64
dtype: object

Area is object, which should convert to integer or float

In [12]:
data_3['Area(sq km)']=data_3['% of Geographical Area'].replace(',','').astype(float)

In [13]:
data_3['Area(sq km)'].dtype

dtype('float64')

Converting the Dataframe back to the csv file

In [14]:
data_3.to_csv('total forest cover of india-2019')

 total forest cover of india-2019 data after performing data clean operation

In [18]:
data_3.style.set_caption("**Total forest cover of india-2019**")