In [104]:
import pandas as pd
import numpy as np

In [105]:
df=pd.read_excel('https://github.com/sg-008/Data-of-Indian-Forests/raw/main/Total%20and%20statewise%20area%20(2001%2C3%2C5%2C9%2C11%2C13%2C15.xls',sheet_name=1)

In [106]:
df

                                           Unnamed: 0  ...  Unnamed: 29
0                                                 NaN  ...          NaN
1                                ENVIRONMENT & FOREST  ...          NaN
2                                                 NaN  ...          NaN
3   Table 33.2 - STATEWISE FORESTS COVER OF THE CO...  ...          NaN
4                                                 NaN  ...    (Sq.Kms.)
5                                                 NaN  ...          NaN
6                                                 NaN  ...          NaN
7                                         Year/State/  ...          NaN
8                                     Union Territory  ...          NaN
9                                                 NaN  ...          NaN
10                                                NaN  ...          NaN
11                                                NaN  ...          NaN
12                                                  1  ...           30
13                                                NaN  ...          NaN
14                                                NaN  ...         2015
15                                            States:  ...          NaN
16                                     Andhra Pradesh  ...       127218
17                                  Arunachal Pradesh  ...        16231
18                                              Assam  ...        50431
19                                              Bihar  ...        86755
20                                       Chhattisgarh  ...        79488
21                                              Delhi  ...         1292
22                                               Goa   ...         1478
23                                            Gujarat  ...       179872
24                                            Haryana  ...        42477
25                                   Himachal Pradesh  ...        40676
26                                    Jammu & Kashmir  ...       198623
27                                          Jharkhand  ...        55551
28                                          Karnataka  ...       152179
29                                             Kerala  ...        19588
30                                     Madhya Pradesh  ...       224400
31                                        Maharashtra  ...       252928
32                                            Manipur  ...         4151
33                                         Meghalaya   ...         4864
34                                            Mizoram  ...         2333
35                                           Nagaland  ...         2991
36                                             Orissa  ...       100854
37                                             Punjab  ...        48554
38                                          Rajasthan  ...       321766
39                                             Sikkim  ...         3428
40                                         Tamil Nadu  ...       103299
41                                          Telangana  ...        91400
42                                            Tripura  ...         2620
43                                      Uttar Pradesh  ...       225664
44                                        Uttarakhand  ...        28936
45                                        West Bengal  ...        71791
46                                                NaN  ...            0
47                                 Union Territories:  ...            0
48                                     A.& N. Islands  ...         1497
49                                         Chandigarh  ...        91.94
50                                      D.& N. Haveli  ...          280
51                                       Daman & Diu   ...        91.84
52                                        Lakshadweep  ...         4.94
53                                         Puducherry  ...       424.62
54                                                NaN  ...            0
55        Source:  ISFR-2009, Forest  Survey of India  ...          NaN
56                *Includes forest cover of Telangana  ...          NaN
57   @ The term Dense Forest was in use till SFR 2...  ...  2.54423e+06

[58 rows x 30 columns]

In [107]:
df.columns=['State/Union Territory','Geographical Area','Actual Forest Cover-09','Actual Forest Cover-11','Actual Forest Cover-13','Actual Forest Cover-15','VDF-09','VDF-11','VDF-13','VDF-15','MDF-09','MDF-11','MDF-13','MDF-15','OF-09','OF-11','OF-13','OF-15','Mangrove-09','Mangrove-11','Mangrove-13','Mangrove-15','Scrub-09','Scrub-11','Scrub-13','Scrub-15','Non-Forest-09','Non-Forest-11','Non-Forest-13','Non-Forest-15']

In [108]:
df.head()

                               State/Union Territory  ... Non-Forest-15
0                                                NaN  ...           NaN
1                               ENVIRONMENT & FOREST  ...           NaN
2                                                NaN  ...           NaN
3  Table 33.2 - STATEWISE FORESTS COVER OF THE CO...  ...           NaN
4                                                NaN  ...     (Sq.Kms.)

[5 rows x 30 columns]

In [109]:
df.drop(labels = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,46,47,54,55,56], axis=0,inplace = True)

In [110]:
df.head()

   State/Union Territory Geographical Area  ... Non-Forest-13 Non-Forest-15
16        Andhra Pradesh            160204  ...      125382.0        127218
17     Arunachal Pradesh             83743  ...       16301.0         16231
18                 Assam             78438  ...       50585.0         50431
19                 Bihar             94163  ...       86757.0         86755
20          Chhattisgarh            135191  ...       79453.0         79488

[5 rows x 30 columns]

In [111]:
df.dtypes

State/Union Territory      object
Geographical Area          object
Actual Forest Cover-09     object
Actual Forest Cover-11     object
Actual Forest Cover-13    float64
Actual Forest Cover-15    float64
VDF-09                     object
VDF-11                    float64
VDF-13                    float64
VDF-15                    float64
MDF-09                     object
MDF-11                    float64
MDF-13                    float64
MDF-15                    float64
OF-09                      object
OF-11                     float64
OF-13                     float64
OF-15                     float64
Mangrove-09                object
Mangrove-11                object
Mangrove-13               float64
Mangrove-15                object
Scrub-09                   object
Scrub-11                   object
Scrub-13                  float64
Scrub-15                  float64
Non-Forest-09              object
Non-Forest-11             float64
Non-Forest-13             float64
Non-Forest-15              object
dtype: object

In [112]:
df

                                State/Union Territory  ... Non-Forest-15
16                                     Andhra Pradesh  ...        127218
17                                  Arunachal Pradesh  ...         16231
18                                              Assam  ...         50431
19                                              Bihar  ...         86755
20                                       Chhattisgarh  ...         79488
21                                              Delhi  ...          1292
22                                               Goa   ...          1478
23                                            Gujarat  ...        179872
24                                            Haryana  ...         42477
25                                   Himachal Pradesh  ...         40676
26                                    Jammu & Kashmir  ...        198623
27                                          Jharkhand  ...         55551
28                                          Karnataka  ...        152179
29                                             Kerala  ...         19588
30                                     Madhya Pradesh  ...        224400
31                                        Maharashtra  ...        252928
32                                            Manipur  ...          4151
33                                         Meghalaya   ...          4864
34                                            Mizoram  ...          2333
35                                           Nagaland  ...          2991
36                                             Orissa  ...        100854
37                                             Punjab  ...         48554
38                                          Rajasthan  ...        321766
39                                             Sikkim  ...          3428
40                                         Tamil Nadu  ...        103299
41                                          Telangana  ...         91400
42                                            Tripura  ...          2620
43                                      Uttar Pradesh  ...        225664
44                                        Uttarakhand  ...         28936
45                                        West Bengal  ...         71791
48                                     A.& N. Islands  ...          1497
49                                         Chandigarh  ...         91.94
50                                      D.& N. Haveli  ...           280
51                                       Daman & Diu   ...         91.84
52                                        Lakshadweep  ...          4.94
53                                         Puducherry  ...        424.62
57   @ The term Dense Forest was in use till SFR 2...  ...   2.54423e+06

[37 rows x 30 columns]

In [113]:
df.isnull().sum().sum()

21

In [114]:
df=df.replace(np.nan,'')

In [115]:
df.reset_index(drop=True,inplace=True)

In [116]:
df.at[36,'State/Union Territory']='Total'

In [117]:
cols=list(df)
for i in cols:
  for j in range(0,37):
    if type(df[i][j])==str:
      df[i][j]=df[i][j].replace('-','')
      df[i][j]=df[i][j].replace('*','')
      
df.at[0,'Actual Forest Cover-09']=float(df['Actual Forest Cover-09'][0])
df.at[0,'Actual Forest Cover-11']=float(df['Actual Forest Cover-11'][0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
type(df['Actual Forest Cover-11'][0])

float

In [119]:
df

   State/Union Territory Geographical Area  ... Non-Forest-13 Non-Forest-15
0         Andhra Pradesh            160204  ...        125382     127218.00
1      Arunachal Pradesh             83743  ...         16301      16231.00
2                  Assam             78438  ...         50585      50431.00
3                  Bihar             94163  ...         86757      86755.00
4           Chhattisgarh            135191  ...         79453      79488.00
5                  Delhi              1483  ...          1301       1292.00
6                   Goa               3702  ...          1483       1478.00
7                Gujarat            196022  ...        179877     179872.00
8                Haryana             44212  ...         42476      42477.00
9       Himachal Pradesh             55673  ...         40692      40676.00
10       Jammu & Kashmir            222236  ...        197593     198623.00
11             Jharkhand             79714  ...         55571      55551.00
12             Karnataka            191791  ...        152443     152179.00
13                Kerala             38863  ...         20912      19588.00
14        Madhya Pradesh            308245  ...        224334     224400.00
15           Maharashtra            307713  ...        252924     252928.00
16               Manipur             22327  ...          5336       4151.00
17            Meghalaya              22429  ...          4769       4864.00
18               Mizoram             21081  ...          2027       2333.00
19              Nagaland             16579  ...          3533       2991.00
20                Orissa            155707  ...        100936     100854.00
21                Punjab             50362  ...         48553      48554.00
22             Rajasthan            342239  ...        321942     321766.00
23                Sikkim              7096  ...          3427       3428.00
24            Tamil Nadu            130058  ...        105002     103299.00
25             Telangana            114865  ...                    91400.00
26               Tripura             10486  ...          2554       2620.00
27         Uttar Pradesh            240928  ...        225773     225664.00
28           Uttarakhand             53483  ...         28713      28936.00
29           West Bengal             88752  ...         71836      71791.00
30        A.& N. Islands              8249  ...          1481       1497.00
31            Chandigarh               114  ...            96         91.94
32         D.& N. Haveli               491  ...           277        280.00
33          Daman & Diu                112  ...           102         91.84
34           Lakshadweep                32  ...             5          4.94
35            Puducherry               480  ...           430        424.62
36                 Total                    ...   2.45488e+06    2544228.34

[37 rows x 30 columns]

In [120]:
df.to_csv('Total_forest_cover_2009_to_2015.csv')