<a href="https://colab.research.google.com/github/Bruteforce004/Cleaned-data-of-Indian-Forests/blob/main/Updated_CO2_Emission_Statewise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
  import pandas as pd
  import numpy as np
  import math
  import scipy as sp
  print('All required libraries are installed')

All required libraries are installed

In [55]:
z=pd.read_csv('https://raw.githubusercontent.com/sg-008/Data-of-Indian-Forests/main/Updated_CO2_Emission_Statewise.csv')

In [56]:
z

    Estimated CO2 Emission by States(in '000 metric tons of C)  ... Unnamed: 20
0                                                 NaN           ...         NaN
1                                                Year           ...      Other
2                                                1980           ...    12345.52
3                                                1981           ...    11498.67
4                                                1982           ...    13708.95
5                                                1983           ...    13480.59
6                                                1984           ...     13590.7
7                                                1985           ...    11827.08
8                                                1986           ...    12888.26
9                                                1987           ...    12988.62
10                                               1988           ...     11787.2
11                                               1989           ...    11090.74
12                                               1990           ...    10863.01
13                                               1991           ...     9526.39
14                                               1992           ...     8074.84
15                                               1993           ...     8269.29
16                                               1994           ...    12359.14
17                                               1995           ...     4424.89
18                                               1996           ...     13907.2
19                                               1997           ...    19264.89
20                                               1998           ...    27692.02
21                                               1999           ...    16279.26
22                                               2000           ...    27055.64
23                                               2001           ...    27984.12
24                                               2002           ...    31205.38
25                                               2003           ...     29975.5
26                                               2004           ...    37784.28
27                                               2005           ...     47090.5
28                                               2006           ...    64319.88
29                                               2007           ...     64287.9
30                                               2008           ...    59448.21

[31 rows x 21 columns]

In [57]:
z= z.dropna()
z

    Estimated CO2 Emission by States(in '000 metric tons of C)  ... Unnamed: 20
1                                                Year           ...      Other
2                                                1980           ...    12345.52
3                                                1981           ...    11498.67
4                                                1982           ...    13708.95
5                                                1983           ...    13480.59
6                                                1984           ...     13590.7
7                                                1985           ...    11827.08
8                                                1986           ...    12888.26
9                                                1987           ...    12988.62
10                                               1988           ...     11787.2
11                                               1989           ...    11090.74
12                                               1990           ...    10863.01
13                                               1991           ...     9526.39
14                                               1992           ...     8074.84
15                                               1993           ...     8269.29
16                                               1994           ...    12359.14
17                                               1995           ...     4424.89
18                                               1996           ...     13907.2
19                                               1997           ...    19264.89
20                                               1998           ...    27692.02
21                                               1999           ...    16279.26
22                                               2000           ...    27055.64
23                                               2001           ...    27984.12
24                                               2002           ...    31205.38
25                                               2003           ...     29975.5
26                                               2004           ...    37784.28
27                                               2005           ...     47090.5
28                                               2006           ...    64319.88
29                                               2007           ...     64287.9
30                                               2008           ...    59448.21

[30 rows x 21 columns]

In [58]:
z.reset_index(drop=True, inplace= True)

In [59]:
z

    Estimated CO2 Emission by States(in '000 metric tons of C)  ... Unnamed: 20
0                                                Year           ...      Other
1                                                1980           ...    12345.52
2                                                1981           ...    11498.67
3                                                1982           ...    13708.95
4                                                1983           ...    13480.59
5                                                1984           ...     13590.7
6                                                1985           ...    11827.08
7                                                1986           ...    12888.26
8                                                1987           ...    12988.62
9                                                1988           ...     11787.2
10                                               1989           ...    11090.74
11                                               1990           ...    10863.01
12                                               1991           ...     9526.39
13                                               1992           ...     8074.84
14                                               1993           ...     8269.29
15                                               1994           ...    12359.14
16                                               1995           ...     4424.89
17                                               1996           ...     13907.2
18                                               1997           ...    19264.89
19                                               1998           ...    27692.02
20                                               1999           ...    16279.26
21                                               2000           ...    27055.64
22                                               2001           ...    27984.12
23                                               2002           ...    31205.38
24                                               2003           ...     29975.5
25                                               2004           ...    37784.28
26                                               2005           ...     47090.5
27                                               2006           ...    64319.88
28                                               2007           ...     64287.9
29                                               2008           ...    59448.21

[30 rows x 21 columns]

In [60]:
z.columns=z.iloc[0]

In [61]:
z.drop(labels=0, axis=0, inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [63]:
z

0   Year     J&K       HP    Punjab  ...       Kar   Kerala        TN    Other
1   1980  168.29    88.75   2377.12  ...   1586.15   946.09   4540.14  12345.52
2   1981  183.15    93.77   3114.93  ...   1859.93  1011.18   4913.12  11498.67
3   1982   177.7   107.79   3332.82  ...   1844.65   991.93    5384.9  13708.95
4   1983  190.05   109.47   3694.72  ...   2208.01  1052.42   5577.67  13480.59
5   1984  221.24   118.68   4026.68  ...   2376.71  1227.19   6321.76   13590.7
6   1985  243.01   125.38    5185.4  ...   2754.51  1546.59   7263.85  11827.08
7   1986  342.01   153.42   5638.13  ...   3508.02  1425.41   7915.64  12888.26
8   1987  344.31    177.5    6109.5  ...   3794.35   1539.9   8253.88  12988.62
9   1988  277.55   222.71   5370.01  ...   4392.34   1719.7   9424.96   11787.2
10  1989  443.32   228.78   6225.66  ...    4265.3  1828.33   9329.52  11090.74
11  1990  455.46   316.68   6544.86  ...   4569.42   1697.1   9808.62  10863.01
12  1991  453.78   301.62   6830.78  ...   4708.82   2059.2  10550.83   9526.39
13  1992   373.2   343.48   7629.28  ...   5104.21  2328.37  12409.68   8074.84
14  1993  365.88   331.76   8572.63  ...   5767.29  2344.91  11802.27   8269.29
15  1994  381.16   422.39   8235.86  ...   6232.59  2208.24  12298.76  12359.14
16  1995  467.81   498.16   8646.74  ...  11423.18  4149.56  12837.53   4424.89
17  1996  474.93   547.55   9408.62  ...   7941.59  2620.37  13765.18   13907.2
18  1997  506.74   549.65  10434.64  ...   7808.47  2925.33  15663.17  19264.89
19  1998  569.95   488.22   9392.09  ...   8211.81   2710.8  15384.18  27692.02
20  1999   588.9   682.98  11012.55  ...   8504.22  2889.45  15069.19  16279.26
21  2000  696.48   659.12  10845.72  ...   9059.61  3067.16  17584.85  27055.64
22  2001  626.89   875.12  11663.38  ...    9655.1  2729.43  17555.65  27984.12
23  2002  602.29   877.11  11473.02  ...  10497.14  3020.59  17323.53  31205.38
24  2003  608.57   857.44  11889.12  ...  11603.01  3201.64  16930.97   29975.5
25  2004  642.38  1019.13  12291.41  ...  12016.29  2720.43  17253.83  37784.28
26  2005  673.88  1008.87  12253.31  ...  11653.77  2642.04  16814.28   47090.5
27  2006  720.97  1047.91  12386.75  ...  11422.81  2812.11  16869.24  64319.88
28  2007  788.58   1128.7  13347.68  ...  11926.31  2982.28  17920.61   64287.9
29  2008   782.2   1047.8  14032.85  ...  14084.27  3440.89  18625.57  59448.21

[29 rows x 21 columns]

In [67]:
z.rename(columns={'Year':'Estimated CO2 Emission by States(in 000 metric tons of C) years'},inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [68]:
z.head()

0 Estimated CO2 Emission by States(in 000 metric tons of C) years  ...    Other
1                                               1980               ...  12345.52
2                                               1981               ...  11498.67
3                                               1982               ...  13708.95
4                                               1983               ...  13480.59
5                                               1984               ...   13590.7

[5 rows x 21 columns]

In [69]:
z.reset_index(drop=True, inplace= True)

In [70]:
z.dtypes

0
Estimated CO2 Emission by States(in 000 metric tons of C) years    object
J&K                                                                object
HP                                                                 object
Punjab                                                             object
Haryana                                                            object
UP                                                                 object
Raj                                                                object
Delhi                                                              object
Bihar                                                              object
Orissa                                                             object
WB                                                                 object
Assam                                                              object
Gujarat                                                            object
Mah                                                                object
Goa                                                                object
MP                                                                 object
AP                                                                 object
Kar                                                                object
Kerala                                                             object
TN                                                                 object
Other                                                              object
dtype: object

In [72]:
z['Estimated CO2 Emission by States(in 000 metric tons of C) years']=z['Estimated CO2 Emission by States(in 000 metric tons of C) years'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
z=z.astype(float)

In [75]:
z.dtypes

0
Estimated CO2 Emission by States(in 000 metric tons of C) years    float64
J&K                                                                float64
HP                                                                 float64
Punjab                                                             float64
Haryana                                                            float64
UP                                                                 float64
Raj                                                                float64
Delhi                                                              float64
Bihar                                                              float64
Orissa                                                             float64
WB                                                                 float64
Assam                                                              float64
Gujarat                                                            float64
Mah                                                                float64
Goa                                                                float64
MP                                                                 float64
AP                                                                 float64
Kar                                                                float64
Kerala                                                             float64
TN                                                                 float64
Other                                                              float64
dtype: object

In [76]:
z

0   Estimated CO2 Emission by States(in 000 metric tons of C) years  ...    Other
0                                              1980.0                ...  12345.52
1                                              1981.0                ...  11498.67
2                                              1982.0                ...  13708.95
3                                              1983.0                ...  13480.59
4                                              1984.0                ...  13590.70
5                                              1985.0                ...  11827.08
6                                              1986.0                ...  12888.26
7                                              1987.0                ...  12988.62
8                                              1988.0                ...  11787.20
9                                              1989.0                ...  11090.74
10                                             1990.0                ...  10863.01
11                                             1991.0                ...   9526.39
12                                             1992.0                ...   8074.84
13                                             1993.0                ...   8269.29
14                                             1994.0                ...  12359.14
15                                             1995.0                ...   4424.89
16                                             1996.0                ...  13907.20
17                                             1997.0                ...  19264.89
18                                             1998.0                ...  27692.02
19                                             1999.0                ...  16279.26
20                                             2000.0                ...  27055.64
21                                             2001.0                ...  27984.12
22                                             2002.0                ...  31205.38
23                                             2003.0                ...  29975.50
24                                             2004.0                ...  37784.28
25                                             2005.0                ...  47090.50
26                                             2006.0                ...  64319.88
27                                             2007.0                ...  64287.90
28                                             2008.0                ...  59448.21

[29 rows x 21 columns]

In [78]:
l=z[z['Estimated CO2 Emission by States(in 000 metric tons of C) years']>=2000.0]

In [79]:
l

0   Estimated CO2 Emission by States(in 000 metric tons of C) years  ...    Other
20                                             2000.0                ...  27055.64
21                                             2001.0                ...  27984.12
22                                             2002.0                ...  31205.38
23                                             2003.0                ...  29975.50
24                                             2004.0                ...  37784.28
25                                             2005.0                ...  47090.50
26                                             2006.0                ...  64319.88
27                                             2007.0                ...  64287.90
28                                             2008.0                ...  59448.21

[9 rows x 21 columns]

In [80]:
l.reset_index(drop=True, inplace = True)

In [81]:
l

0  Estimated CO2 Emission by States(in 000 metric tons of C) years  ...    Other
0                                             2000.0                ...  27055.64
1                                             2001.0                ...  27984.12
2                                             2002.0                ...  31205.38
3                                             2003.0                ...  29975.50
4                                             2004.0                ...  37784.28
5                                             2005.0                ...  47090.50
6                                             2006.0                ...  64319.88
7                                             2007.0                ...  64287.90
8                                             2008.0                ...  59448.21

[9 rows x 21 columns]

In [82]:
l['Estimated CO2 Emission by States(in 000 metric tons of C) years']=l['Estimated CO2 Emission by States(in 000 metric tons of C) years'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
l.dtypes

0
Estimated CO2 Emission by States(in 000 metric tons of C) years      int64
J&K                                                                float64
HP                                                                 float64
Punjab                                                             float64
Haryana                                                            float64
UP                                                                 float64
Raj                                                                float64
Delhi                                                              float64
Bihar                                                              float64
Orissa                                                             float64
WB                                                                 float64
Assam                                                              float64
Gujarat                                                            float64
Mah                                                                float64
Goa                                                                float64
MP                                                                 float64
AP                                                                 float64
Kar                                                                float64
Kerala                                                             float64
TN                                                                 float64
Other                                                              float64
dtype: object

In [84]:
l.to_csv('Updated_CO2_Emission_Statewise.csv')